/* some style */

html, html * {
  font-family: 'Arimo', sans-serif;
}

.main-title {
  margin-bottom: 25px;
}

.main-table {
  width: 500px;
  display: inline-block;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid tomato;
}

th {
  padding: 10px;
}

td {
  padding: 5px 10px;
  text-align: right;
  font-family: 'Cutive Mono', monospace;
}

.input-section {
  width: 230px;
  margin-bottom: 20px;
  float: left;
}

.input-row {
  margin-bottom: 15px;
}

.input-row input {
  font-size: 1.1em;
  margin-top: 5px;
  width: 192px;
}

.input-row label {
  font-size: 0.9em;
  clear: both;
  display: block;
}

.input-row input[type="range"] {
  width: 195px;
}
